
.header{
    background-color: rgba(40,54,70,.8);


    padding: .4rem;
    overflow: hidden;
    height: 2.8rem;
    border-bottom:1px solid rgba(40,54,70,1);
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
}
.header-logo{
    color:#1e90ff;
    font-size: 1.4rem;
    text-align: left;

}
.header-txt{
    font-size: 0.6rem;
    color: #fff;
    display: inline-block;
    padding-left: 0.3rem;
}
.ant-meu{
    line-height: 2.6rem;

}
.ant-menu-item{
    font-size:.7rem !important;
    padding-left:1rem;
    padding-right:1rem;

}